@import '../../../../scss/core/variables';

.searchbox {
  display: flex;
  align-items: center;
  height: 48px;
  &__container {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 47px;
    background: #ffffff;
  }
  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 1px 10px 0 41px;
    border: 1px solid #d9dbe3;
    border-radius: 2px;
    &::placeholder {
      font-family: $font-family-regular;
      letter-spacing: 0.22px;
      color: #c0c3ce;
    }
  }
  &__icon {
    position: absolute;
    top: 13px;
    left: 14px;
  }
  &__button {
    margin-left: 6px;
  }
}