<div class="searchbox p-t--47 p-b--24">
  <div class="searchbox__container">
    <input type="text" class="searchbox__input" placeholder="Text to search" [(ngModel)]="searchText" (keyup)="findCourse()">
    <img src="/assets/images/ic-search.svg" class="searchbox__icon">
  </div>
</div>
