.input-chips {
  &__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2px 10px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 24px;
  }
  &__box-chip {
    display: inline-flex;
    align-items: center;
    margin: 1px 2px;
    padding: 0 4px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 24px;
  }
  &__box-chip-text {

  }
  &__box-chip-delete {
    width: 19px;
    height: 16px;
    margin-left: 2px;
    border: 1px solid #d9dbe3;
    font-size: 12px;
    background: none;
    cursor: pointer;
    &:hover {
      background: #e4e7ef;
    }
  }
  &__text {
    display: inline-flex;
    width: 100%;
    margin: 1px 2px;
    border: none;
    font-size: 14px;
    line-height: 24px;
    &::placeholder {
      color: #c0c3ce;
    }
  }
  &__dropdown {
    display: block;
    width: 100%;
    margin: -2px 0 0 0;
    padding: 4px 0;
    border: 1px solid #d9dbe3;
    border-top: none;
    border-radius: 3px;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
  }
  &__dropdown-item {
    padding: 4px 12px;
    border-bottom: 1px solid #d9dbe3;
    cursor: pointer;
    &:hover {
      background: #e4e7ef;
    }
    &:last-child {
      border: none;
    }
  }
}