<div class="form__controller form__controller--md">
  <span class="form__helper">*required</span>
  <label class="form__label" [for]="id">{{ title }}</label>
  <div class="input-chips">
    <div class="input-chips__box">
      <div class="input-chips__box-chip" *ngFor="let selectedItem of selectedItems">
        <span class="input-chips__box-chip-text">{{ selectedItem.name }}</span>
        <button class="input-chips__box-chip-delete" (click)="deleteSelectedItemFromChips(selectedItem)">x</button>
      </div>
      <input
        class="input-chips__text"
        [id]="id"
        type="text"
        placeholder="Author"
        [(ngModel)]="value"
        (keyup)="findText()"
      >
    </div>
    <ul class="input-chips__dropdown" *ngIf="searchedList?.length">
      <li class="input-chips__dropdown-item"
        *ngFor="let searchedItem of searchedList"
        (click)="selectSearchedItem(searchedItem)"
      >{{ searchedItem?.name }}</li>
    </ul>
  </div>
  <div class="form__error" *ngIf="control.touched && control.hasError('authorsRequired')">{{ control.errors?.authorsRequired }}</div>
</div>