.form {
  &__controller {
    position: relative;
    margin-bottom: 12px;
    &--lg {

    }

    &--md {
      max-width: 312px;
    }

    &--sm {
      max-width: 150px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    letter-spacing: 0.22px;
    font-family: $font-family-semibold;
    color: #525462;
  }

  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 4px 12px;
    border: 1px solid #d9dbe3;
    border-radius: 3px;
    font-size: 14px;
    line-height: 24px;
    &::placeholder {
      color: #c0c3ce;
    }
  }

  &__textarea {
    min-height: 108px;
    resize: vertical;
  }

  &__helper {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.19px;
    font-family: $font-family-regular;
    color: #6c7283;
  }

  &__error{
    display: block;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.19px;
    font-family: $font-family-regular;
    color: $color-error;
  }
}
