.flex {
  display: flex;

  &__direction--column{
    flex-direction: column;
  }

  &__hor {
    &--center {
      justify-content: center;
    }
    &--space-between {
      justify-content: space-between;
    }
    &--flex-end {
      justify-content: flex-end;
    }
  }

  &__ver {
    &--center {
      align-items: center;
    }
  }
}