.m-t-0 {
  margin-top: 0;
}

.m-t-1 {
  margin-top: 1px;
}


.m-t-20 {
  margin-top: 20px;
}

.m-b-0 {
  margin-bottom: 0;
}

.p-v-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-t--25 {
  padding-top: 25px;
}

.p-t--47 {
  padding-top: 47px;
}

.p-b--12 {
  padding-bottom: 12px;
}

.p-b--24 {
  padding-bottom: 24px;
}