<div [appDetectCourseDate]="creationDate" class="panel course" [ngClass]="{'course--top-rated': isTopRated}">
  <div class="course__header">
    <div class="course__content-container">
      <h2 class="course__title">
        {{ title | uppercase }} 
        <span *ngIf="isTopRated">
          <img class="icon-star" src="/assets/images/ic-star.svg">
        </span>
      </h2>
      <div class="course__meta">
        <div class="course__meta-item">
          <div class="course__meta-icon">
            <fa-icon [icon]="clockIcon"></fa-icon>
          </div>
          <div class="course__meta-text">{{ durationMin | minutes }}</div>
        </div>
        <div class="course__meta-item">
          <div class="course__meta-icon">
            <fa-icon [icon]="calendarIcon"></fa-icon>
          </div>
          <div class="course__meta-text">{{ creationDate | date:'dd MMM, yyyy'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="course__body">
    <div class="course__content-container">
      <div class="course__text">
        <p>{{ description }}</p>
      </div>
      <div class="course__controls button-row">
        <div class="button-wrapper">
          <app-button
              [text]="'Edit'"
              [size]="'sm'"
              [style]="'primary'"
              (click)="editCourse()"
          >
            <fa-icon [icon]="editIcon"></fa-icon>
          </app-button>
        </div>
        <div class="button-wrapper">
          <app-button
              [text]="'Delete'"
              [size]="'sm'"
              [style]="'primary'"
              (click)="deleteCourse()"
          >
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>

