@import '../../../../scss/core/variables';

.course {
  &--top-rated {
    background: $color-rate-bg;
    border-color: $color-rate-bg;
  }
  &__content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__header {
    position: relative;
    max-width: calc(100% - 262px);
    padding-top: 1px;
  }
  &__title {
    margin: 0;
    padding: 0 190px 0 0;
    font-size: 24px;
    line-height: 30px;
    font-family: $font-family-semibold;
    font-weight: normal;
    color: #2c2f3c;
    &h2 {
      margin: 0;
      padding: 0;
    }
  }
  &__meta {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    transform: translateY(-50%);
    color: #b9bdce;
    &-item {
      display: flex;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-icon {
      margin-right: 5px;
    }
    &-text {
      font-size: 12px;
    }
  }
  &__body {
    padding-top: 7px;
  }
  &__text {
    p {
      font-size: 14px;
      line-height: 24px;
      color: #525462;
      &:first-child {
        margin-top: 0;
        padding-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 270px;
  }
}