<header class="header">
  <div class="container flex flex__hor--space-between flex__ver--center">
    <img src="/assets/images/logo.png" srcset="/assets/images/logo.png 2x, /assets/images/logo.png 3x" class="logo">

    <nav class="nav" *ngIf="isUserAuthenticated">
      <div class="button-wrapper--x2-gutter">
        <span class="display--block text--white m-t-1">{{(authInfo$ | async)?.user?.email }}</span>
      </div>
      <div class="button-wrapper--x2-gutter">
        <app-button
            [text]="'Log off'"
            [size]="'sm'"
            [style]="'hollow'"
            (click)="logout()"
        >
          <img src="/assets/images/ic-exit.svg">
        </app-button>
      </div>
    </nav>
  </div>
</header>