<app-loader *ngIf="!(coursesState?.stateMetadata.isLoaded && !coursesState?.stateMetadata.isLoading)"></app-loader>

<app-searchbox (search)="searchCourse($event)"></app-searchbox>

<div class="flex flex__hor--flex-end p-t--25 p-b--12">
  <app-button
      [text]="'Add course'"
      [size]="'md'"
      [style]="'primary'"
      (click)="initAddCourse()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </app-button>
</div>

<div class="panel flex flex__hor--center p-v-12" *ngIf="!coursesState?.courseList.length">
  <span>{{ 'No data. Feel free to add new course.' | uppercase }}</span>
</div>
<app-course
    *ngFor="let course of coursesState?.courseList | orderBy:'creationDate'"
    [id]="course.id"
    [title]="course.title"
    [creationDate]="course.creationDate"
    [durationMin]="course.durationMin"
    [description]="course.description"
    [isTopRated]="course.isTopRated"
    (delete)="openDeleteCourseModal($event)"
></app-course>
<div *ngIf="isMoreButtonActive" class="panel flex flex__hor--center p-v-12">
  <app-button
      [text]="'Load more'"
      [size]="'sm'"
      [style]="'link'"
      (click)="addMore()"
  >
  </app-button>
</div>
<app-modal *ngIf="isDeleteCourseDialogOpened" [title]="'Delete course?'" (closeModal)="closeDeleteCourseModal()">
  <p>Are you sure you want to delete</p>
  <p>{{ courseUnderDeleting.title }}</p>

  <nav class="nav flex flex__hor--flex-end">
    <div class="button-wrapper--x2-gutter">
      <app-button
          [text]="'Cancel'"
          [size]="'md'"
          [style]="'default'"
          (click)="closeDeleteCourseModal()"
      ></app-button>
    </div>

    <div class="button-wrapper--x2-gutter">
      <app-button
          [text]="'Yes, delete'"
          [size]="'md'"
          [style]="'success'"
          (click)="deleteCourse(courseUnderDeleting)"
      ></app-button>
    </div>
  </nav>
</app-modal>
