$font-family-regular: 'source_sans_proregular', Arial, sans-serif;
$font-family-semibold: 'source_sans_prosemibold', Arial, sans-serif;

$color-default: #d9dbe3;
$color-primary: #30b6dd;
$color-success: #9bc837;
$color-error: #c8303c;
$color-link: #577ce6;
$color-rate: #ffbc35;
$color-rate-bg: rgba(255, 210, 60, 0.15);
