<form autocomplete="off" [formGroup]="form" class="panel login">
  <h2 class="panel__title">Login</h2>

  <div class="form__controller">
    <span class="form__helper">*required</span>
    <label class="form__label" for="input-email">Email:</label>
    <input class="form__input" id="input-email" type="text" placeholder="Enter e-mail" formControlName="email">
  </div>

  <div class="form__controller">
    <span class="form__helper">*required</span>
    <label class="form__label" for="input-password">Password:</label>
    <input class="form__input" id="input-password" type="text" placeholder="Enter password" formControlName="password">
  </div>

  <div class="button-row flex flex__hor--space-between flex__ver--center m-t-20">
    <div class="button-wrapper">
      <app-button
        [text]="'Forgot password?'"
        [size]="'sm'"
        [style]="'link'"
        (click)="forgotPassword()"
      >
      </app-button>
    </div>
    <div class="button-wrapper">
      <app-button
        [disabled]="form.invalid"
        [text]="'Login'"
        [size]="'md'"
        [style]="'default'"
        (click)="login()"
      >
      </app-button>
    </div>
  </div>
</form>
