<button
    class="button"
    [disabled]="disabled"
    [ngClass]="[
      style ? 'button--' + style : 'button--' + buttonStyle.primary,
      size ? 'button--' + size : 'button--' + buttonSize.md,
      disabled ? 'button--disabled' : ''
    ]"
>
  <ng-content></ng-content>
  <span (click)="stopPropagateSpanClick($event)" class="button__text">{{text}}</span>
</button>
