@import '../../../../scss/core/variables';

$font-family-regular: Arial, sans-serif !default;
$font-family-semibold: Arial, sans-serif !default;

$color-default: #d9dbe3 !default;
$color-primary: #30b6dd !default;
$color-success: #9bc837 !default;
$color-link: #577ce6 !default;

.button {
  display: flex;
  align-items: center;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0);
  font-family: $font-family-semibold;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  &:hover{
    outline: none;
  }
  &:focus, &:active{
    outline: none;
  }
  &.button--default {
    color: #525462;
    background: $color-default;
  }
  &.button--primary {
    background: $color-primary;
  }
  &.button--success {
    background: $color-success;
  }
  &.button--hollow {
    font-family: $font-family-regular;
    background: none;
    &.button--lg,
    &.button--md,
    &.button--sm {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.button--link {
    text-transform: uppercase;
    text-decoration: underline;
    color: $color-link;
    background: none;
  }
  &.button--disabled {
    cursor: default;
    opacity: 0.5;
  }
  &.button--lg {
    padding: 14px 22px;
    border-radius: 3px;
    font-size: 18px;
    > *:nth-child(2) {
      margin-left: 12px;
    }
  }
  &.button--md {
    padding: 10px 23px;
    border-radius: 3px;
    font-size: 14px;
    > *:nth-child(2) {
      margin-left: 10px;
    }
  }
  &.button--sm {
    padding: 5px 16px;
    border-radius: 2px;
    font-size: 12px;
    > *:nth-child(2) {
      margin-left: 7px;
    }
  }
  &.button--sm.button--hollow {
    font-size: 14px;
  }
}