@import '../../../scss/core/variables';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(30, 32, 42, 0.62);
  z-index: 1000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;

  &__inner {
    width: 100%;
    max-width: 394px;
    border-radius: 6px;
    background: #ffffff;
  }

  &__header {
    position: relative;
    padding: 15px 60px 15px 24px;
    border-radius: 6px 6px 0 0;
    background: #eaedf5;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: $font-family-semibold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #525462;
  }

  &__close-button {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
  }

  &__body {
    padding: 24px;
  }
}
