<div class="modal-overlay"></div>
<div class="modal">
  <div class="modal__inner">
    <div class="modal__header">
      <h3 class="modal__title">{{ title }}</h3>
      <img class="modal__close-button" src="/assets/images/ic-close.svg" (click)="handleDialogCardCancelClick()">
    </div>

    <div #content class="modal__body">
      <ng-content></ng-content>
    </div>
  </div>
</div>
