<div class="app-container">
  <app-header></app-header>

  <div class="content-container">
    <app-breadcrumbs *ngIf="isUserAuthenticated$ | async"></app-breadcrumbs>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>