<div class="form__controller form__controller--sm">
  <span class="form__helper">*required</span>
  <label class="form__label" [for]="id">Date:</label>
  <input
    class="form__input"
    [id]="id"
    type="text"
    placeholder="dd/MM/yyyy"
    [(ngModel)]="value"
    [dpDayPicker]="{format: 'D/MM/Y'}"
  >
  <div class="form__error" *ngIf="control.touched && control.hasError('required')">Field is required</div>
  <div class="form__error" *ngIf="control.touched && control.hasError('incorrectDate')">{{ control.errors?.incorrectDate }}</div>
</div>