<div class="form__controller form__controller--sm">
  <span class="form__helper">*required</span>
  <label class="form__label" [for]="id">Duration:</label>
  <input
    class="form__input"
    [id]="id"
    type="text"
    placeholder="minutes"
    [(ngModel)]="value"
  >
  <div class="form__error" *ngIf="control.touched && control.hasError('required')">Field is required</div>
  <div class="form__error" *ngIf="control.touched && control.hasError('notNumber')">{{ control.errors?.notNumber }}</div>
</div>
