<form autocomplete="off" [formGroup]="form" class="container flex flex__hor--center m-t-20">
  <div class="panel course-form">
    <h2 class="panel__title">New course</h2>

    <div class="form__controller">
      <span class="form__helper">*required</span>
      <label class="form__label" for="input-title">Title:</label>
      <input class="form__input" id="input-title" type="text" placeholder="Text input" formControlName="title">
      <div
        class="form__error"
        *ngIf="form.get('title').touched && form.get('title').hasError('required')"
      >Field is required</div>
      <div
        class="form__error"
        *ngIf="form.get('title').touched && form.get('title').hasError('maxlength')"
      >Max length is 50 symbols</div>
    </div>

    <div class="form__controller">
      <span class="form__helper">*required</span>
      <label class="form__label" for="input-description">Description:</label>
      <textarea class="form__textarea" id="input-description" placeholder="Add description" formControlName="description"></textarea>
      <div
        class="form__error"
        *ngIf="form.get('description').touched && form.get('description').hasError('required')"
      >Field is required</div>
      <div
        class="form__error"
        *ngIf="form.get('description').touched && form.get('description').hasError('maxlength')"
      >Max length is 500 symbols</div>
    </div>

    <div class="flex duration-form">
      <app-input-duration [control]="form.get('durationMin')" id="input-duration" formControlName="durationMin"></app-input-duration>
      <span class="duration-form__value">{{ form.get('durationMin')?.value | minutes }}</span>
    </div>

    <app-datepicker [control]="form.get('creationDate')" id="input-datepicker" formControlName="creationDate"></app-datepicker>

    <app-input-chips
      id="input-authors"
      [control]="form.get('authors')"
      [title]="'Author:'"
      (search)="searchAuthors($event)"
      (shareSelectedItems)="getSelectedItems($event)"
      [searchedList]="searchedAuthors"
      formControlName="authors"
    ></app-input-chips>

    <nav class="nav flex flex__hor--flex-end p-t--25 p-b--12">
      <div class="button-wrapper--x2-gutter">
        <app-button
          [text]="'Cancel'"
          [size]="'md'"
          [style]="'default'"
          (click)="cancelAdding()"
        ></app-button>
      </div>

      <div class="button-wrapper--x2-gutter">
        <app-button
          [disabled]="form.invalid"
          [text]="'Save'"
          [size]="'md'"
          [style]="'success'"
          (click)="saveCourse()"
        >
        </app-button>
      </div>
    </nav>
  </div>
</form>
