<div class="breadcrumbs">
  <div class="container">
    <span *ngFor="let breadcrumb of breadcrumbs; let idx = index">
      <a class="breadcrumbs__link" *ngIf="idx !== breadcrumbs.length - 1; else onlyText" [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>

      <ng-template #onlyText>
        <span class="breadcrumbs__text">{{ breadcrumb.label }}</span>
      </ng-template>

      <span class="breadcrumbs__divider" *ngIf="breadcrumbs.length > 1 && idx !== breadcrumbs.length - 1">/</span>
    </span>
  </div>
</div>
