@import '../../../scss/core/variables';

.breadcrumbs{
  padding: 20px 0;
  font-size: 14px;
  line-height: 24px;
  font-family: $font-family-semibold;
  background: #ffffff;

  &__link {
    font-family:$font-family-regular;
    text-decoration: none;
    color: #868996;
  }

  &__text {
    color: #2c2f3c;
  }

  &__divider {
    padding-left: 5px;
    padding-right: 5px;
    color: #30b6dd;
  }
}