.course-form {
  width: 100%;
  max-width: 731px;

  .duration-form {
    position: relative;
    max-width: 312px;
    &__value {
      position: absolute;
      top: 36px;
      right: 0;
    }
  }
}
