@font-face {
  font-family: 'source_sans_proregular';
  src: url('/assets/fonts/sourcesanspro-regular-webfont.eot');
  src: url('/assets/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
  url('/assets/fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('/assets/fonts/sourcesanspro-semibold-webfont.eot');
  src: url('/assets/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('/assets/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
  url('/assets/fonts/sourcesanspro-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}