*{
  box-sizing: border-box;
  outline: none;
  &:before{
    box-sizing: border-box;
  }
  &:after{
    box-sizing: border-box;
  }
  &:hover, &:active, &:focus{
    outline: none;
  }
}

body {
  font-size: 14px;
  line-height: 24px;
  font-family: $font-family-regular;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.panel {
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);

  &__title {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    color: #2c2f3c;
  }
}

.button-row {
  margin: 0 -6px;
  .button-wrapper {
    margin: 0 6px;
  }
}

.button-wrapper--x2-gutter {
  margin: 0 12px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.icon-star {
  display: inline-block;
  width: 18px;
  height: 18px;
}

dp-date-picker {
  display: block !important;
}
